.anchor-links-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.anchor-links-ul {
		list-style: none;
		line-height: rem(24);

		.anchor-link {
			overflow: hidden;

			a {
				color: #667788;
				font-size: rem(24);
				position: relative;
				left: 0;
				transition: left .2s ease-out;

				&:hover {
					text-decoration: none;
					color: $primary-blue;
					left: 35px;
				}

				&:before {
					content: url('../assets/icons/anchor_link_arrow.svg');
					position: absolute;
					left: -30px;
					width: 100%;
				}
			}
		}
	}

	.social-links {
		display: flex;
		flex-direction: column;
		padding-bottom: rem(20);

		a {
			width: fit-content;

			&:hover {
				filter: $primary-blue-filter;
			}
		}
	}
}