.accordion-container {
	.accordion-items {
		/**
		 * Inactive item
		 */

		.accordion-item {
			background-color: transparent;
			padding: toRem(10) toRem(20);
			border-radius: toRem(5);
			cursor: pointer;

			.accordion-item-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.title {
					margin: 0;
					font-weight: bold;
					font-size: toRem(18);

					@media #{$tablet-down} {
						font-size: toRem(14);
					}

					.job-title {
						color: $dark-gray;
					}

					.at {
						color: $dark-gray;
						margin: 0 toRem(5);
					}

					.company-name {
						color: $dark-gray;
					}
				}

				.dates {
					margin: 0;
					color: $dark-gray;
					font-size: toRem(12);
					line-height: toRem(15);
				}

				.accordion-arrow {
					img {
						filter: $dark-gray-filter;
						transform: rotate(0deg);
						// transition: transform .3s ease-out;
					}
				}
			}

			.accordion-item-body {
				max-height: 0;
				overflow: hidden;
				// transition: max-height .4s;
				height: auto;
			}
		}

		/**
		 * Hover state, inactive item
		 */

		.accordion-item:hover:not(.active) {
			.accordion-item-header {
				.title {
					.job-title,
					.at {
						color: $primary-blue;
					}
				}

				.company-name {
					color: $primary-blue;
				}

				.accordion-arrow {
					img {
						filter: $primary-blue-filter;
					}
				}
			}
		}

		/**
		 * Active item
		 */

		.accordion-item.active {
			background-color: $primary-blue;
			box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
			cursor: default;

			.accordion-item-header {
				.title {
					.job-title {
						color: $white;
					}

					.at {
						color: $light-blue;
					}
				}

				.company-name {
					color: $light-blue;
				}

				.dates {
					color: $light-blue;
				}

				.accordion-arrow {
					img {
						filter: $white-filter;
						transform: rotate(180deg);
						// transition-delay: .4s;
					}
				}
			}

			.accordion-item-body {
				max-height: toRem(300);
				// transition: max-height .4s .4s ease-out;
			}
		}
	}
}