.accordion-container {
	.accordion-items {
		/**
		 * Inactive item
		 */
		
		$custom-gray: #5a748c;

		.accordion-item {
			background-color: transparent;
			padding: rem(10) rem(20);
			border-radius: rem(5);
			cursor: pointer;

			.accordion-item-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.title {
					margin: 0;
					font-weight: bold;
					font-size: rem(18);

					@media #{$tablet-down} {
						font-size: rem(14);
					}

					.job-title {
						color: $custom-gray;
					}

					.at {
						color: $custom-gray;
						margin: 0 rem(5);
					}

					.company-name {
						color: $custom-gray;
					}
				}

				.dates {
					margin: 0;
					color: $custom-gray;
					font-size: rem(12);
					line-height: rem(15);
				}

				.accordion-arrow {
					img {
						filter: $dark-gray-filter;
						transform: rotate(0deg);
					}
				}
			}

			.accordion-item-body {
				max-height: 0;
				overflow: hidden;
				height: auto;
				padding-left: rem(10);

				ul {
					li {
						margin-bottom: rem(15);

						@media #{$tablet-down} {
							font-size: rem(14);
						}
					}
				}
			}
		}

		/**
		 * Hover state, inactive item
		 */

		.accordion-item:hover:not(.active) {
			.accordion-item-header {
				.title {
					.job-title,
					.at {
						color: $primary-blue;
					}
				}

				.company-name {
					color: $primary-blue;
				}

				.accordion-arrow {
					img {
						filter: $primary-blue-filter;
					}
				}
			}
		}

		/**
		 * Active item
		 */
		
		$custom-white: #dde6ff;

		.accordion-item.active {
			background-color: $primary-blue;
			box-shadow: $card-box-shadow-hover;
			cursor: default;

			.accordion-item-header {
				.title {
					.job-title {
						color: $white;
					}

					.at {
						color: $custom-white;
					}
				}

				.company-name {
					color: $custom-white;
				}

				.dates {
					color: $custom-white;
				}

				.accordion-arrow {
					img {
						filter: $white-filter;
						transform: rotate(180deg);
					}
				}
			}

			.accordion-item-body {
				max-height: fit-content;
			}
		}
	}
}