.header-container {
	display: flex;
	align-items: center;

	h2 {
		position: relative;
		display: inline;
	}

	.header-hr {
		width: 100%;
		height: 1px;
		background-color: $light-gray;
		background-position: center;
		background-size: 100% 1px;
	}

	&.right {
		flex-direction: row-reverse;

		h2 {
			position: relative;
			display: inline;
			margin-left: toRem(25);
		}
	}

	&.left {
		h2 {
			margin-right: toRem(25);
		}
	}

	&.center {
		justify-content: center;

		.header-hr {
			display: none;
		}
	}
}
