.navigation {
	width: 100%;
	height: $nav-height;

	.navigation-spacer {
		height: toRem(20);
		background: $white;
		border-bottom: toRem(5) solid $primary-blue;
	}

	.content {
		padding: toRem(20) 0px;
		display: flex;
		background: transparent;
		align-items: center;
		justify-content: space-between;

		.navigation-logo {
			font-size: toRem(60);
			line-height: toRem(60);
			font-weight: bold;
			text-transform: lowercase;
		}
	}
}