@import "../variables.scss";

.work-table-container {
	overflow-x: auto;
	padding-bottom: rem(100);

	@media #{$tablet-down} {
		padding-bottom: rem(50);
	}

	table.work-table {
		width: 100%;
		text-align: left;
		border-collapse: collapse;
		
		@media #{$tablet-down} {
			white-space: nowrap;
		}

		// header
		thead {
			th {
				padding: 0 rem(20) rem(10) rem(15);
			}
		}

		// body
		tbody {
			tr {
				border-top: 1px solid $light-gray;

				td {
					padding: rem(15) 0 rem(15) rem(15);

					&.work-item-row__name {
						white-space: nowrap;
					}
				}

				// tech stack
				.item-tech {
					font-size: 15px;

					&:not(:last-of-type) {
						&:after {
							content: '\A';
							border-radius: 50%;
							display: inline-block	;
							width: rem(5);
							height: rem(5);
							background-color: $dark-gray;
							margin: 0px rem(5);
							position: relative;
							top: rem(-2);
						}
					}
				}

				// project link
				.project-link {
					.external-link-icon {
						filter: $primary-blue-filter;
						position: relative;
						left: -10px;
						opacity: 0;
						transition: all 0.3s;
						top: 5px;
					}

					&:hover {
						.external-link-icon {
							opacity: 1;
							left: 5px;
						}
					}
				}
			}
		}
	}
}