.home {

	.anchor-links-container {
		position: sticky;
		top: 1px;
	}

	section {
		min-height: 100vh;
		display: flex;
		align-items: center;

		.section-content {
			width: 100%;
		}
	}

	/**
	 * About section
	 */

	#about {
		.about-image {
			float: right;
			padding: 0px rem(15) rem(15) rem(15);

			img {
				border-radius: 5px;
				object-fit: cover;
				filter: drop-shadow(10px 10px 0px rgba(148, 174, 244, 0.25));
			}
		}

		.tech-stack-list {
			columns: 2;
			width: fit-content;

			li {
				min-width: rem(150);
			}
		}
	}

	/**
	 * Work section
	 */
	
	#work {
		.work-items-container {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			margin: rem(-10) 0 0 0;

			.work-item {
				margin-top: rem(10);
				text-decoration: none;
				flex: 0 1 rem(365);
				cursor: pointer;
				color: unset;
				box-shadow: $card-box-shadow;
				border-radius: rem(5);
				transition: all .3s;
				background: $white;

				@media #{$phone-down} {
					flex-grow: 1;
				}

				&:hover {
					box-shadow: $card-box-shadow-hover;

					.work-item-content {
						.work-item-header {
							.project-name {
								color: $primary-blue;
							}

							.external-link-icon {
								filter: $primary-blue-filter;
							}
						}
					}
				}

				.work-item-content {
					padding: rem(15);

					/**
					 * Header
					 */

					.work-item-header {
						display: flex;
						justify-content: space-between;

						.project-name {
							font-weight: bold;
							color: $black;
							font-size: rem(16);
							line-height: rem(24);
							margin: 0;
						}

						.project-role {
							color: $dark-gray;
							font-size: rem(14);
							line-height: rem(21);
							margin: 0;
						}

						.external-link-icon {
							filter: $dark-gray-filter;
						}
					}

					/**
					 * Body
					 */
					
					.work-item-body {
						margin: rem(15) 0;
					}

					/**
					 * Footer
					 */
					
					.work-item-footer {
						.project-tech {
							color: $dark-gray;
							font-size: rem(14);
							line-height: rem(21);
							margin: 0;

							span {
								margin-right: rem(12);
							}
						}
					}
				}
			}
		}
	}

	/**
	 * Contact section
	 */
	#contact {
		p {
			max-width: rem(600);
			margin: 0 auto rem(35) auto;
		}
	}
}