html,
body,
#app {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background: $white;
	font-family: 'Poppins', sans-serif;
	transition: background 1s;

	@media #{$desktop-down} {
		overflow-x: hidden;
	}
}

html.no-scroll {
	overflow: hidden;

	#app,
	body {
		overflow: hidden;
	}
}

h1 {
	font-size: toRem(64);
	line-height: toRem(64);
	color: $primary-blue;
	font-weight: bold;
	margin: toRem(20) 0px;

	@media #{$tablet-down} {
		font-size: toRem(32);
		line-height: toRem(32);
	}
}

h2 {
	font-size: toRem(28);
	line-height: toRem(28);
	color: $primary-blue;
	font-weight: bold;
	margin: toRem(20) 0px;

	@media #{$tablet-down} {
		font-size: toRem(24);
		line-height: toRem(24);
	}
}

p {
	margin: 0 0 toRem(10) 0;
}

a:not(.work-item) {
	text-decoration: none;
	color: $primary-blue;
	font-weight: bold;

	&:visited {
		color: $primary-blue;
	}

	&:hover {
		text-decoration: underline;
	}
}

ul {
	padding: 0 0 0 toRem(15);
	list-style-type: circle;

	li {
		line-height: toRem(32);
	}
}

/**
 * Custom text selection colors
 */

::-moz-selection {
	color: $white;
	background: $primary-blue;
}

::selection {
	color: $white;
	background: $primary-blue;
}

/**
 * Views
 */

.view {
	max-width: toRem(1200);
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0px toRem(20);
}