/**
 * Coloring
 */

.dark-gray {
	color: $dark-gray !important;
}

.white {
  color: $white !important;
}

/**
 * Positioning and layout
 */

.d-flex {
  display: flex !important;
}

.center-content {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}


/**
 * Margin and padding
 */

.m-0 {
	margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

/**
 * Height and width
 */

.full-screen-height {
  height: 100vh !important;
}