/**
 * Light theme
 */

.theme-light {
	background: $white !important;
}


/**
 * Steel theme
 */

$steel-background: #f4f5f7;

.theme-steel {
	background: $steel-background !important;
}


/**
 * Dark theme
 */

.theme-dark {
	background: #121212 !important;
}


/**
 * Fun theme
 */

.theme-fun {
	background: $white !important;
}