/**
 * Colors
 */

$primary-blue: #1954F5;
$light-blue: #94AEF4;
$dark-gray: #475766;
$med-gray: #C9C9C9;
$light-gray: #DEE1E7;
$steel: #f4f5f7;

$white: #fff;
$black: #000;

/**
 * Breakpoints
 */

$phone-xs-down: "screen and (max-width: 576px)"; // < 576
$phone-down: "screen and (max-width: 768px)"; // < 768
$tablet-down: "screen and (max-width: 992px)"; // < 992
$desktop-down: "screen and (max-width: 1200px)"; // < 1200
$desktop-xl-down: "screen and (max-width: 1400px)"; // < 1400


/**
 * Functions
 */

@function rem($value) {
    $remValue: calc($value / 16) + rem; 
    @return $remValue;
}

/**
 * Misc
 */

$nav-height: rem(120);
$primary-blue-filter: invert(40%) sepia(91%) saturate(6709%) hue-rotate(224deg) brightness(96%) contrast(99%);
$dark-gray-filter: invert(54%) sepia(26%) saturate(325%) hue-rotate(168deg) brightness(89%) contrast(91%);
$white-filter: brightness(0) invert(1);
$card-box-shadow: 0 1px 1px rgba(9,30,66,0.25), 0 0 1px 0 rgba(9,30,66,0.31);
$card-box-shadow-hover: 0 8px 16px -4px rgba(9,30,66,0.25), 0 0 1px rgba(9,30,66,0.31);