/**
 * Colors
 */

$primary-blue: #1954F5;
$light-blue: #94AEF4;
$dark-gray: #708599;
$med-gray: #C9C9C9;
$light-gray: #DEE1E7;

$white: #fff;
$black: #000;

/**
 * Breakpoints
 */

$phone-xs-down: "screen and (max-width: 576px)"; // < 576
$phone-down: "screen and (max-width: 768px)"; // < 768
$tablet-down: "screen and (max-width: 992px)"; // < 992
$desktop-down: "screen and (max-width: 1200px)"; // < 1200
$desktop-xl-down: "screen and (max-width: 1400px)"; // < 1400


/**
 * Functions
 */

@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}